# Core libraries
pandas==2.2.2
numpy==1.26.4

# Data fetching
yfinance==0.2.40

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Jupyter environment
notebook==7.2.1
jupyterlab==4.2.5
ipykernel==6.29.5